* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", Courier, monospace;
}

:root {
  /* Base font size */
  font-size: 10px;

  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

h1 {
  font-size: 5rem;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  padding: 3rem 5rem 4.5rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
}

h1::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);

    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
      0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

body {
  margin: 0;
  background-image: url("./assets/background.jpeg");
  background-size: cover;
  background-position: top center;
}

.bigContainer {
  font-family: "Exo 2", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  margin-top: 50px;
}

.container {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  margin-top: 20px;
}

.title1,
.title2,
.title3,
.title4 {
  width: 300px;
  height: 50px;
  justify-content: center;
  display: flex;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 20px;
}

.bassContent,
.drumContent,
.fxContent,
.synthContent {
  width: 300px;
  height: 300px;
  background: #333;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
}

.beat {
  width: 90px;
  height: 90px;
  flex-basis: 29%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beat .button {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: 5px solid aqua;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 2em;
  transition: all 0.2s;
}
